/* 
Author: Chao-Hsiung Hsu, Darren Liu
Version: 2.0
Copyright: 2024/7/30, StainAI project, Molecular Imaging Laboratory, Howard University
Contact: chaohsiung.hsu@howard.edu
*/



/*-----------------------------------whole page------------------------------------*/
.main-container {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 1080px;
}
/*-----------------------------------whole page------------------------------------*/

/*------------------------------------APP title------------------------------------*/
.title-container {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, rgb(80,107,121), rgb(3,15,35));
    width: 1920px;
    height: 122px;
}
.app-title {
    color: white;
    font-family: 'Gill Sans MT';
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    word-spacing: 20px;
    margin: 0px;
    padding-top: 41px;
    padding-left: 40px;
}
.app-logo {
    width: 65.4px;
    height: 64.5px;
    margin-top: 28.75px;
    margin-left: 1360px;
}
/*------------------------------------APP title-------------------------------------*/



/*----------------------------------body container-----------------------------------
-------------------------------------------------------------------------------------
-------------------------------    selector-checkbox      ---------------------------
-------------------------------       image-graphs        ---------------------------
-----------------------------------------------------------------------------------*/
.body-container {
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 958px;
}
/*----------------------------------selector-checkbox------------------------------*/
.left-container {
    display: flex;
    flex-direction: column;
    width: 377px;
    height: 958px;
    background: linear-gradient(147deg, rgb(80,107,121), rgb(3,15,35));
}
.left-top-container {
    display: flex;
    flex-direction: column;
    width: 309px;
    height: 399px;
    margin-right: 34px;
    margin-left: 34px;
    margin-top: 25px;
    margin-bottom: 57px;
}
.sub-input-element-container {
    display: flex;
    flex-direction: column;
    width: 309px;
    height: 99.75px;
}
.input-element-title {
    color: white;
    font-family: 'Gill Sans MT';
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    word-spacing: 2px;
    width: 309px;
    height: 50px;
    margin: 0px;
    padding-top: 19px;
}
.input-element {
    color: black;
    font-family: 'Gill Sans MT';
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    word-spacing: 2px;
    width: 309px;
    height: 36px;
}


#iparameterSelect {
    color: black;
    font-family: 'Gill Sans MT';
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    word-spacing: 2px;
    width: 309px;
    height: 36px;
}
.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    width: 309px;
    height: 36px;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    word-spacing: 10px;
}

/*----------threshold----------*/
.left-bottom-container {
    display: flex;
    flex-direction: column;
    width: 309px;
    height: 399px;
    margin-right: 34px;
    margin-left: 34px;
    margin-bottom: 51.1px;
}

/*slider-containers*/
.carea-container0, .cpm-container0, .chsr-container0, .mds-container0 {
    width: 309px;
    height: 69.8px;
    margin-bottom: 10px;
}
.carea-container1, .cpm-container1, .chsr-container1, .mds-container1 {
    width: 309px;
    height: 69.8px;
    margin-bottom: 10px;
}
/*--labels--*/
.carea-label-container, .cpm-label-container, .chsr-label-container,
.mds-label-container {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    word-spacing: 5px;
}

/*--sliders--*/
#carea_slider_with_values0, #cpm_slider_with_values0, #chsr_slider_with_values0,
#mds_slider_with_values0 {
    width: 309px;
    height: 10px;
}
#carea_slider_with_values1, #cpm_slider_with_values1, #chsr_slider_with_values1,
#mds_slider_with_values1 {
    width: 309px;
    height: 10px;
}
.carea-slider-values, .cpm-slider-values, .chsr-slider-values, .mds-slider-values {
    margin-top: 15px;  
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
}


/*-----fm-slider------*/
.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 34px;
    margin-left: 34px;
    margin-top: 10px;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
}
.slider-with-values {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.slider-values {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.value-box {
    border: 1px solid white;
    padding: 0px;
    margin-left: 0px;
    margin-top: -20px;
    width: 50px;
    height: 30px;
    text-align: center;
}
/*----------------------------------selector-checkbox------------------------------*/







/*-------------------------------------image-graph----------------------------------*/
.right-container {
    display: flex;
    flex-direction: row;
    width: 1543px;
    height: 958px;
}

/*-------graphs-------*/
.graph-container {
    width: 468px;
    height: 855px;
    margin-right: 34px;
    margin-left: 34px;
    margin-top: 25px;
    margin-bottom: 51.1px;
}
.graph-title {
    color: black;
    font-family: 'Gill Sans MT';
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    word-spacing: 2px;
    width: 400px;
    height: 50px;
    margin-top: 19.5px;
    margin-bottom: 19.5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.chart-container {
    display: flex;
    flex-direction: column;
    width: 468px; 
    height: 399px;
    margin-bottom: 57px;
}
#barChart {
    width: 459px;
    height: 281px;
}
#histChart {
    width: 459px;
    height: 281px;
}
.hist-container{
    display: flex;
    flex-direction: column;
    width: 468px; 
    height: 399px;
}
.histlabel-container {
    width: 459px;
    height: 58px;
}
#paramenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#label {
    color: black;
    font-family: 'Gill Sans MT';
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
}

/*--------image--------*/
.image-container {
    display: flex;
    flex-direction: column;
    width: 973px;
    height: 855px;
    margin-top: 25px;
    margin-right: 34px;
    margin-bottom: 51.1px;
}
.image-title {
    color: black;
    font-family: 'Gill Sans MT';
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    word-spacing: 2px;
    width: 400px;
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 19.5px;
    margin-bottom: 19.5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#displayedImage {
    width: 953px;
    height: 766px;
}
/*-------------------------------------image-graph----------------------------------*/