/* static/css/homePage.css */

/* Drop Zone */
#drop-zone {
    position: absolute;
    top: 0; 
    left: 200px;
    width: 1720px;
    height: 911px;
    background: var(--bg-drop-zone);
    color: var(--text-drop-zone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PingFangHKWeb', sans-serif;
    transition: background .2s;
}
#drop-zone.hover {
    background: var(--bg-drop-zone-hover);
}
#drop-zone.blur {
    filter: blur(4px);
}
#drop-zone p {
    font-size: 30px;
    margin: 0;
}
#drop-upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    margin: 30px;
    background: var(--bg-drop-upload-btn);
    color: var(--text-drop-upload-btn);
    border: var(--border-drop-upload-btn);
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'PingFangHKWeb', sans-serif;
}

/* Preview */
#preview-container {
    display: none;              
    margin-top: 1rem;
    text-align: center;
}
#preview-img {
    max-width: 500px;           
    max-height: 300px;
    border: 1px solid #444;
    border-radius: 4px;
    object-fit: contain;
}

/* Start Detection Button */
#start-detect-btn {
    display: block; 
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    margin: 20px;            
    margin: 20px auto;
    background: var(--bg-drop-upload-btn);
    color: var(--text-drop-upload-btn);
    border: var(--border-drop-upload-btn);
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'PingFangHKWeb', sans-serif;
}