/* static/css/mainContainer.css */

/* Dark Mode */
:root {
  /* ----- Left Container ----- */
  --bg-left:             rgb(23,23,23);
  --bg-left-bottom:        rgb(23,23,23);
  --text-app-title:      rgb(255, 255, 255);
  --bg-upload-new-img-btn: rgb(23,23,23);
  --text-upload-new-img-btn: rgb(255, 255, 255);
  --border-upload-new-img-btn: 1px solid rgb(255, 255, 255);
  /* History Item */
  --bg-history-item: none;
  --bg-history-item-hover: rgb(100,100,100);
  --text-history-item: rgb(255,255,255);
  --bg-history-menu-btn: rgb(255,255,255);
  --bg-history-action-menu: rgb(47,47,47);
  --text-history-action-menu-button:rgb(255,255,255);
  --bg-history-action-menu-button-hover: rgb(80,80,80);
  /* Model Box */
  --bg-modal-box: rgb(34,34,34);
  --text-modal-box: rgb(255,255,255);



  /* Drop Zone */
  --bg-drop-zone:        rgb(34,34,34);
  --bg-drop-zone-hover: rgb(51,51,51);
  --text-drop-zone:     rgb(255,255,255);
  --bg-drop-upload-btn: rgb(23,23,23);
  --text-drop-upload-btn: rgb(255, 255, 255);
  --border-drop-upload-btn: 1px solid rgb(255, 255, 255);
  --bg-start-detect-btn: rgb(23,23,23);
  --text-start-detect-btn: rgb(255,255,255);
  --border-start-detect-btn: 1px solid rgb(255, 255, 255);

  /* Grayscale Setting Modal */
  --bg-settings-modal: rgb(0,0,0);
  --bg-settings-close-btn: rgb(0,0,0);
  --border-settings-close-btn: 2px solid rgb(255,255,255);
  --cross-settings-close-btn: rgb(255,255,255);
  --text-settings-title: rgb(255,255,255);
  --text-settings-row-label: rgb(255,255,255);
  --bg-mode-btn: rgb(0,0,0);
  --border-mode-btn: 2px solid rgb(0,0,0);
  --text-mode-btn: rgb(255,255,255);
  --bg-mode-btn-active: rgb(0,0,0);
  --border-mode-btn-active: 2px solid rgb(255,255,255);
  --text-mode-btn-active: rgb(255,255,255);
  --bg-inp-resolution: rgb(0,0,0);
  --border-inp-resolution: 2px solid rgb(255,255,255);
  --text-inp-resolution: rgb(255,255,255);
  --text-unit: rgb(255,255,255);
  --bg-grayscale-parameter-wrapper: rgb(0,0,0,0.78);
  --border-grayscale-parameter-wrapper: 1px solid rgba(255,255,255,0.18);
  --bg-scrollbar: rgba(255,255,255,0.25);
  --border-scrollbar: 1px solid rgba(255,255,255,0.25);
  --bg-settings-start-btn: rgb(0,0,0);
  --border-settings-start-btn: 2px solid rgb(255,255,255);
  --text-settings-start-btn: rgb(255,255,255);



  /* Main Container */
  --bg-main:             rgb(23,23,23);
  --bg-right:            rgb(33,33,33);
  --bg-vis:              rgb(23,23,23);
  --border-vis:          1px solid rgba(255, 255, 255, 0.1);
  --shadow-vis:          inset 0 0 10px rgba(255, 255, 255, 0.1), 0 0px 15px rgba(255, 255, 255, 0.4);
  --backdrop-filter-vis:     blur(10px);
  --transition-vis:       all 0.3s ease;



  /* Image */
  --bg-display-wrapper:  rgb(23,23,23);
  --icon-inactive-filter: grayscale(1) contrast(.42) brightness(1.2);
  --text-screenshot-menu-btn: rgb(255,255,255);
  --bg-screenshot-dropdown: rgba(255, 255, 255, 0.95);
  --bg-take-screenshot-btn: rgba(255, 255, 255, 0.95);
  --bg-take-screenshot-btn-hover: rgba(200, 200, 200, 0.95);
  --text-take-screenshot-btn: rgb(0,0,0);


  /* Bar Chart buttons */
  --bg-btn-container:    none;
  --bg-addChartBtn:      rgb(23,23,23);
  --text-addChartBtn:    rgb(255,255,255);
  --border-addChartBtn: 1px solid rgb(255, 255, 255);
  --bg-filterBtn:      rgb(47,47,47);
  --text-filterBtn:    rgb(255,255,255);
  --bg-filterMenu:    rgb(47,47,47);
  --checkbox-label: rgb(255,255,255);
  --bg-checkbox-label-before: rgb(60,60,60);
  --bg-checkbox-checked-label-before: rgb(255,255,255);



  /* Bar Chart */
  --bg-chart-container: rgb(33,33,33);
  --bg-barchart-wrapper: rgb(23,23,23);
  --border-barchart-wrapper: 1px solid rgba(255, 255, 255, 0.1);
  --shadow-barchart-wrapper: inset 0 0 10px rgba(255, 255, 255, 0.1), 0 0px 15px rgba(255, 255, 255, 0.4);
  --backdrop-filter-barchart-wrapper:blur(10px);
  --transition-barchart-wrapper: all 0.3s ease;
  --bg-roi-container:   rgb(23,23,23);
  --bg-roi-item: rgb(70,70,70);
  --bg-roi-item-hover: rgb(120,120,120);
  --text-roi-item: rgb(255,255,255);
  --text-roi-menu-btn: rgb(255,255,255);
  --bg-roi-action-menu: rgb(120,120,120);
  --bg-roi-action-menu-hover: rgb(70,70,70);
  --text-roi-action-menu: rgb(255,255,255);
  --scrollbar-track: rgba(255,255,255,0.08);
  --scrollbar-thumb: rgba(255,255,255,0.35);
  --scrollbar-thumb-hover: rgba(255,255,255,0.55);
  /* chart labels */
  --chart-tick-color:    rgb(255, 255, 255);
}
/* ----- Light mode ----- */
[data-theme="light"] {
  /* Left Container */
  --bg-left:            linear-gradient(to bottom, rgb(74, 106, 118), rgb(40, 39, 40));
  --bg-left-bottom:     rgb(40, 39, 40);
  --text-app-title:      rgb(47, 47, 47);
  --bg-upload-new-img-btn: rgb(97, 136, 155);
  --text-upload-new-img-btn: rgb(255, 255, 255);
  --border-upload-new-img-btn: none;
  /* History Item */
  --bg-history-item: none;
  --bg-history-item-hover: rgb(97, 136, 155);
  --text-history-item: rgb(255,255,255);
  --bg-history-menu-btn: rgb(255,255,255);
  --bg-history-action-menu: rgb(74, 106, 118);
  --text-history-action-menu-button:rgb(255,255,255);
  --bg-history-action-menu-button-hover: rgb(97, 136, 155);
  /* Model Box */
  --bg-modal-box: rgb(190,190,190);
  --text-modal-box: rgb(0,0,0);



  /* Drop Zone */
  --bg-drop-zone:        rgb(255,255,255);
  --bg-drop-zone-hover: rgb(200,200,200);
  --text-drop-zone:     rgb(0,0,0);
  --bg-drop-upload-btn: rgb(97, 136, 155);
  --text-drop-upload-btn: rgb(255, 255, 255);
  --border-drop-upload-btn: none;
  --bg-start-detect-btn: rgb(97, 136, 155);
  --text-start-detect-btn: rgb(255, 255, 255);
  --border-start-detect-btn: none;


  /* Grayscale Setting Modal */
  --bg-settings-modal: rgb(255,255,255);
  --bg-settings-close-btn: rgb(255,255,255);
  --border-settings-close-btn: 2px solid rgb(209,209,209);
  --cross-settings-close-btn: rgb(209,209,209);
  --text-settings-title: rgb(110,156,176);
  --text-settings-row-label: rgb(110,156,176);
  --bg-mode-btn: rgb(255,255,255);
  --border-mode-btn: 2px solid rgb(187,187,187);
  --text-mode-btn: rgb(75,75,75);
  --bg-mode-btn-active: rgb(110,156,176);
  --border-mode-btn-active: 2px solid rgb(110,156,176);
  --text-mode-btn-active: rgb(255,255,255);
  --bg-inp-resolution: rgb(255,255,255);
  --border-inp-resolution: 2px solid rgb(187,187,187);
  --text-inp-resolution: rgb(75,75,75);
  --text-unit: rgb(110,156,176);
  --bg-grayscale-parameter-wrapper: rgb(255,255,255);
  --border-grayscale-parameter-wrapper: 1px solid rgba(255,255,255,0.18);
  --bg-scrollbar: rgb(255,255,255);
  --border-scrollbar: 1px solid rgb(187,187,187);
  --bg-settings-start-btn: rgb(255,255,255);
  --border-settings-start-btn: 2px solid rgb(209,209,209);
  --text-settings-start-btn: rgb(110,156,176);




  /* Main Container */
  --bg-main:             rgb(250,250,250);
  --bg-right:            rgb(255,255,255);
  --bg-vis:              rgb(255,255,255);
  --border-vis:          none;
  --shadow-vis:          0 4px 20px rgba(0, 0, 0, 0.5);
  --backdrop-filter-vis: none;
  --transition-vis:      none;


  
  /* Image */
  --bg-display-wrapper:  rgb(255,255,255);
  --icon-inactive-filter: grayscale(1) contrast(2) brightness(1);
  --text-screenshot-menu-btn: rgb(0,0,0);
  --bg-screenshot-dropdown: rgba(255, 255, 255, 0.95);
  --bg-take-screenshot-btn: rgba(255, 255, 255, 0.95);
  --bg-take-screenshot-btn-hover: rgba(200, 200, 200, 0.95);
  --text-take-screenshot-btn: rgb(0,0,0);



  /* Bar Chart buttons */
  --bg-btn-container:    none;
  --bg-addChartBtn:      rgb(97, 136, 155);
  --text-addChartBtn:    rgb(255,255,255);
  --border-addChartBtn: none;
  --bg-filterBtn:      rgb(230,230,230);
  --text-filterBtn:    rgb(0,0,0);
  --bg-filterMenu:    rgb(230,230,230);
  --checkbox-label: rgb(97, 136, 155);
  --bg-checkbox-label-before: rgb(255,255,255);
  --bg-checkbox-checked-label-before: rgb(60,60,60);
  


  /* Bar Chart */
  --bg-chart-container: rgb(255,255,255);
  --bg-barchart-wrapper: rgb(255,255,255);
  --border-barchart-wrapper: none;
  --shadow-barchart-wrapper: 0 4px 20px rgba(0, 0, 0, 0.5);
  --backdrop-filter-barchart-wrapper: none;
  --transition-barchart-wrapper: none;
  --bg-roi-container:   rgb(255,255,255);
  --bg-roi-item: rgb(180,180,180);
  --bg-roi-item-hover: rgb(225,225,225);
  --text-roi-item: rgb(0,0,0);
  --text-roi-menu-btn: rgb(0,0,0);
  --bg-roi-action-menu: rgb(225,225,225);
  --bg-roi-action-menu-hover: rgb(180,180,180);
  --text-roi-action-menu: rgb(0,0,0);
  --scrollbar-track: rgba(0,0,0,0.08);
  --scrollbar-thumb: rgba(0,0,0,0.30);
  --scrollbar-thumb-hover: rgba(0,0,0,0.45);

  /* chart labels */
  --chart-tick-color:    rgb(0, 0, 0);
}
/* icon dark/light switch */
.logo-light { display: none; }
.logo-dark  { display: block; }
[data-theme="light"] .logo-light { display: block; }
[data-theme="light"] .logo-dark  { display: none; }
/* icon dark/light switch non-draw-icon & clear-icon */
.non-draw-icon.logo-light,
.clear-icon.logo-light {
  display: none;
}
[data-theme="light"] .non-draw-icon.logo-light,
[data-theme="light"] .clear-icon.logo-light {
  display: block;
}
[data-theme="light"] .non-draw-icon.logo-dark,
[data-theme="light"] .clear-icon.logo-dark {
  display: none;
}



/* no outline  */
:focus {
    outline: none !important;
    box-shadow: none !important;
}



/* right container */
.main-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    margin-left: 200px;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    max-width: calc(100vw - 200px);
    height: auto;
    min-height: 100vh;
    background: var(--bg-right);
}
.main-container[hidden] { display: none !important; }

/* main-scale: container for proportional scaling */
#main-scale{
  transform-origin: top left;
  width: 1720px;
  display: flex;
  flex-direction: row;
}